.AppFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px 12px 0px 12px;
    font-size: 1.1em;
}

.AppFooter > aside{
    padding: 8px;
    text-align: center;
}

.AppFooter > aside > img{
    max-width: 120px;
}

.AppFooter > main{
    text-align: center;
    margin: 16px 4px;
}

.AppFooter > main > h2{
    margin: 8px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.AppFooter > main > p{
    margin: 14px 8px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.Author{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.Author > img{
    max-width: 50px;
    border-radius: 25px;
    margin: 8px 12px;
}
.Author > h3{
    display: block;
    word-spacing: 1px;
    letter-spacing: 1px;

}
.Author > h3 > a{
    text-decoration: none;
    color: rgba(67, 160, 71, 1);
}

@media (max-width: 400px) {
    .AppFooter{
        font-size: 0.9em;
    }
}