.AboutPage{
    padding: 4px;
}
.AboutPage > header{

    padding: 4px;
    margin: 0 16px;
    overflow: hidden;
}
.AboutPage > header > h3{
    margin-bottom: 0;
    word-spacing: 1px;

}

.AboutPage > header > p{
    margin-top: 2px;
    text-wrap: normal;
    word-break: break-all;
}
.AboutPage > header > p > a{
    text-decoration: none;
    font-weight: bold;
    color: rgba(67, 160, 71, 1);
    margin-right: 8px;
}

@media (max-width: 450px) {
    .AboutPage > header{
        padding-left: 0;
        margin: 0 2px;
    }
}